.App {
  text-align: center;
}

body{
  font-family: "Computer Modern Sans", sans-serif;
}

.navbar {
  /* padding: 1em; */
  /* margin: 1em; */
  display: flex;
  padding: 1em;
  position: sticky;
  top: 0;
  /* background-color: rgba(0, 0, 0, 0.19); */
}

.navbar-title {
  font-weight: lighter;
  background-color: white;
  border-radius: 0.5em;
  padding: 0.2em;
}

.alt-navbar-title {
  font-weight: lighter;
  background-color: white;
  border-radius: 0.5em;
  padding: 0.2em;
  visibility: hidden;
}

.card {
  display: flex;
  width: 24em;
  height: 14.375em;
  margin: 1em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
  flex: 1;
}

.home-page{
  flex: 1;
}

.search-page{
  flex: 1;
}

.search-bar input {
  width: 78%;
  margin: 18px;
  padding: 12px 20px;
  border-radius: 2em;
  border: 0.1em solid black;
  transition: border 5s ease-in-out;
}

.search-bar input:focus {
  border: 0.1em solid #555;
}

.search-bar button {
  /* width: 100%; */
  padding: 12px 20px;
}

.bg-light  {
  background-color: #fff8e7;
}

.card-left {
  flex: 1;
}

.card-right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.card-right-title {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5em;
  margin-left: 0.5em;
  
}

.card-right-author {
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.card-right-button {
  margin-top: 0.5em;
  margin-left: 0.5em;
  position: relative;
  display: inline-block;
}

.card-right-dropdown-content {
  display: none;
  position: absolute;
  border-radius: 0.5em;
  /* background-color: #f9f9f9; */
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.card-right-button:hover .card-right-dropdown-content {
  display: flex;
  flex-direction: column;
}


.button {
  background-color: #fff;
  border-radius: 5px;
  border-width: thin;
  /* text-align: center; */
  margin: 2px;
}

.button:hover {
  background: #eee;
}

.shelf-container {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; */
  margin-bottom: 4em;
  /* box-shadow: -2px -2px 8px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: -2px -4px 10px 0 rgba(0, 0, 0, 0.2), -2px -6px 10px 0 rgba(0, 0, 0, 0.19);


}

.shelf-header {
  padding: 1em;
  margin-left: 3em;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 872px){
  .alt-navbar-title{
    visibility: visible;
  }

  .navbar-title{
    /* visibility: hidden; */
    display: none;
  }
}

@media only screen and (max-width: 369px){
  .alt-navbar-title{
    display: none;

  }

  .navbar-title{
    /* visibility: hidden; */
    display: none;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
